/** CSS STYLE **/

.hello {
  display: block;

  color: #fff;
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --width-conteiner: 1110px;
}

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Neucha Regular";
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  color: #2a2626;
  font-weight: 400;
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  line-height: 1.6em;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  column-gap: 30px;
  row-gap: 20px;
}

h1,
h2,
h3,
h4 {
  margin: 0;

  font-family: "Neucha Regular", sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header {
  position: relative;

  width: 100vw;
}

.header {
  position: relative;
}

.conteiner {
  width: var(--width-conteiner);
  margin: 100px 0;
}

header::before {
  position: absolute;

  display: block;
  width: 100%;
  height: 100%;

  background-image: url("../assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.header-img {
  position: absolute;
  top: -45px;
  right: -270px;

  width: 1082px;
  height: 525px;
}

.header-title {
  height: 443px;
}

.header-column {
  flex-basis: calc(var(--width-conteiner) / 2);
  flex-grow: 1;
  box-sizing: border-box;
}

header a {
  text-decoration: none;
}

.section-video {
  position: relative;
  bottom: -200px;

  width: 100vw;
  margin-top: -200px;

  text-align: center;
}

.section-video-title {
  margin-bottom: 30px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.nav {
  background-color: var(--main-dark-color);
}

.nav .conteiner {
  margin-top: 200px;
}

.nav-item {
  width: calc(var(--width-conteiner) / 3 - 20px);
}

nav a {
  text-decoration: none;
}

.nav-link {
  display: block;
  box-sizing: border-box;
  padding: 24px;
}

.font-size-52 {
  font-size: 52px;
}

.bg-light {
  background-color: var(--light);
}

.mt-24px {
  margin-top: 24px;
}

.mb-40px {
  margin-bottom: 40px;
}

.lh-1 {
  line-height: 1;
}

.button {
  display: inline-block;

  padding: 12px 24px;

  color: var(--white);

  font-weight: bold;

  background-color: var(--main-color);

  cursor: pointer;
}

.color-white {
  color: var(--white);
}

.color-main-dark {
  color: var(--main-dark-color);
}

.color-orange {
  color: var(--main-color);
}

.wrap {
  flex-wrap: wrap;
}

.nav-link:hover,
.nav-link:hover h3 {
  color: var(--white);

  background-color: var(--main-color);
}
