/** CSS STYLE **/

.hello {
  display: block;

  color: #fff;
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark-color: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --width-conteiner: 1110px;
}

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Neucha Regular";
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

body {
  min-width: min-content;
  margin: 0;
  padding: 0;

  color: #2a2626;
  font-weight: 400;
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  line-height: 1.6em;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  column-gap: 30px;
  row-gap: 20px;
}

h1,
h2,
h3,
h4 {
  margin: 0;

  font-family: "Neucha Regular", cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header {
  position: relative;
  z-index: 0;

  padding: 100px 0;

  overflow: hidden;
}

section {
  padding: 100px 0;
}

.footer {
  padding: 100px 0;
}

.conteiner {
  position: relative;

  width: var(--width-conteiner);
  margin: 0 auto;
}

header::before {
  position: absolute;

  top: 0;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 100%;

  background-image: url("../assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.header-img {
  position: absolute;

  top: -45px;
  right: -290px;
  z-index: -1;

  height: 525px;
}

.header-title {
  margin-bottom: 195.6px;
}

.header-column {
  flex-basis: calc(var(--width-conteiner) / 2);
  flex-grow: 1;
  box-sizing: border-box;
}

.header-column p:first-child {
  margin-top: 0;
}

header a {
  text-decoration: none;
}

.section-video {
  position: relative;
  bottom: -200px;

  width: 100vw;
  margin-top: -200px;

  text-align: center;
}

.section-video-title {
  margin-bottom: 30px;
}

.video {
  border: 0;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.nav {
  padding: 200px 0 100px;
}

.nav-item {
  width: calc(var(--width-conteiner) / 3 - 20px);
}

nav a {
  text-decoration: none;
}

.nav-link {
  display: block;
  box-sizing: border-box;
  padding: 24px;
}

.effect-description {
  font-size: 34px;
  font-family: "Neucha Regular", sans-serif;
  line-height: 1.2;
}

.effect-description-subtitle {
  margin: 0;

  font-size: 24px;
}

.effect-description-content {
  margin-top: 30px;
}

.effect-img img {
  vertical-align: center;
}

.how-work-title {
  margin: 100px 0 20px;
  padding: 5px 0 5px 10px;

  font-weight: 700;
  font-size: 14px;

  font-family: OpenSans, sans-serif;
  line-height: 1.2;
}

.how-work {
  font-size: 16px;
  line-height: 1.6;
}

.how-work .how-work-text {
  flex-basis: calc(var(--width-conteiner) / 2);
  flex-grow: 1;
  box-sizing: border-box;
}

.more-info {
  width: 1000px;
  margin: auto;
}

.more-info-column {
  flex-basis: 500px;
  flex-grow: 1;
  box-sizing: border-box;
}

.more-info-title {
  margin: 55px 0;
}

.form-title {
  margin-top: 38px;
  margin-bottom: 9px;

  font-size: 18px;
  line-height: 1.6;
}

#email {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 15px;

  border: none;
}

form {
  flex-grow: 1;
}

.more-info-button {
  position: relative;

  display: block;

  width: 70px;
  height: 50px;

  padding: 0;

  border: none;
  cursor: pointer;
}

.more-info-button::before {
  position: absolute;
  top: 15px;
  left: 25px;

  display: block;
  width: 20px;

  height: 20px;

  background-image: url("../assets/img/send.svg");
  background-repeat: no-repeat;
  background-size: cover;

  content: "";
}

.more-info-button:hover {
  background-color: #ea7600;
}

.more-info-rules {
  margin: 0;

  font-size: 12px;
  line-height: 1.6;
}

.more-info-rules a {
  color: inherit;
}

.contact {
  padding-top: 60px;

  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}

.theme-light {
  color: var(--dark);
}

.theme-dark {
  color: var(--white);

  background-color: var(--brown);
}

.font-size-52 {
  font-size: 52px;
}

.bg-light {
  background-color: var(--light);
}

.mt-24px {
  margin-top: 24px;
}

.mb-40px {
  margin-bottom: 40px;
}

.lh-1 {
  line-height: 1;
}

.button {
  display: inline-block;

  padding: 12px 24px;

  color: var(--white);

  font-weight: bold;

  background-color: var(--main-color);

  cursor: pointer;
}

.color-dark {
  color: var(--dark);
}

.color-translucent-dark {
  color: var(--translucent-dark);
}

.color-translucent-white {
  color: var(--translucent-white);
}

.color-white {
  color: var(--white);
}

.color-main-dark {
  color: var(--main-dark-color);
}

.color-orange {
  color: var(--main-color);
}

.color-brown {
  color: var(--brown);
}

.wrap {
  flex-wrap: wrap;
}

.nav-link:hover,
.nav-link:hover h3 {
  color: var(--white);

  background-color: var(--main-color);
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;

  overflow: hidden;

  white-space: nowrap;

  border: 0;
}

.bg-brown {
  background-color: var(--brown);
}

.bg-white {
  background-color: var(--white);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-main-dark {
  background-color: var(--main-dark-color);
}




.no-column-gap {
  column-gap: 0;
}

color-blue {
  color: var(--blue);
}
